html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://media.istockphoto.com/photos/open-book-hardback-books-on-wooden-table-education-background-back-picture-id591810668?k=20&m=591810668&s=612x612&w=0&h=XAE8mlyqycD2LLcptfWlaj-rXhl4JuZvohRBCI2fniU=');
    background-size: cover;
}

div.container {
    width: 800px;
    height: 400px;
    border: 2px dotted balck;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;

}

div.title {
    margin-top: 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);
}

div.gif-container {
    height: 200px;
    width: 50%;
    background-color: lightgray;
    margin-bottom: 1rem;
}

div.input-form {
    color: black;
    padding-top: 10px;
}

div.first-definition {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: large;
    text-align: left;
    padding: 10px;
}

div.second-definition {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: large;
    text-align: left;
    padding: 10px;
}

div.origin-container {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: large;
    padding: 10px;
}
